body {
	margin:10px;
    padding:0;
}

div .image img {
    box-shadow: 5px 5px 5px 0px #888;
	border: 1px solid;
	border-radius: 2px;
    float: left;	
	vertical-align: top;
}

div .image {
	float: right;
	width: 60%;
}

div .text {
    float: left;
	width: 30%;
	margin: auto;
	margin-top: 14px;
}

div .text span {
	float: left;
	width: 30%;
}

div .text input {
	width: 65%;
}

body .pair {
    margin: 15px;
}

body button {
    margin-left: 20px;
}